:root {
  --background-photoViewer-init: hsl(0deg 0% 6% / 0%);
  --background-photoViewer: hsl(0deg 0% 6% / 100%);
}
.photoViewer {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  height: 100vh;
  width: 100vw;
}
